//- **********************************************************************
//- header
//- **********************************************************************
//- if pagePrefix == 'home'
//- - var _className = [];
//- if pagePrefix == "home"
//-   - className = ['l-header', 'l-header--type_home'];
//- else
//-   - className = ['l-header'];
header.l-header#js-header
  div.l-header__container
    //-
    div.c-logo.p-logo.p-logo--type_header.hoge
      a.c-logo__inner(href=`${relativePath}`)
        img.c-logo__item(src=`${relativePath}assets/img/logo/logo.svg` alt="logo")
    //-
    include /_includes/_template/_gnav
    //-
    div.p-hamburger#js-gnav-trg
      div.p-hamburger__container
        span.p-hamburger__item
        span.p-hamburger__item
        span.p-hamburger__item
