//- **********************************************************************
//- loading
//- **********************************************************************
div#js-loading.p-loading
  p.p-loading__logo
    img(src=`${relativePath}assets/img/logo/logo.svg` alt="logo")
  div#js-progress.p-loading__progress
