//- **********************************************************************
//- ナビゲーション
//- **********************************************************************
nav.p-gnav#js-gnav
  ul.p-gnav__list
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") トップ
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") 私たちの強み
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") 日本テクネスのモノづくり
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") 会社案内
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") 採用情報
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href="#") お問い合わせ
